body {
  margin: 0;
  font-family: 'Istok Web', sans-serif;
  background-color: #FAFAF7;
}

header {
  background-color: #1BCEB8;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: #383838;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

aside {
  width: 20%;
  border-right: solid 1px #383838;
  height: 100vh;
}

aside p {
  display: inline-block;
  margin: 2px;
}

aside h5 {
  margin: 4px;
}

aside h3 {
  display: inline-block;
  margin: 20px 0 0 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
}

select {
  background-color: #CCC;
  min-width: 200px;
  text-align: center;
  margin: 15px;
  height: 30px;
}

label {
  font-weight: 400;
}

button {
  background-color: #B4436C;
  color: #fff;
  border-radius: 5px;
  border: none;
  width: 50%;
  font-size: 1em;
  height: 25px;
  margin: 5px;
}

.reappear,
.headerappear {
  display: none;
}

.calendarimg {
  width: 350px;
  margin: 15px;
}

.formsection {
    display: flex;
  flex-direction: column;
  align-items: center;
}

.cycle-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-wrapper {
  display: flex;
  width: 100%;
}

.main-sections {
  margin: auto;
  width: 50%;
}

.week {
  border-bottom: 3px solid #09ADB5;
}

.yesterday {
  border-bottom: 3px solid #B4436C;
}

.content-container {
  display: flex;
}

.shoe {
  width: 40px;
}

.swim-div {
  display: flex;
  align-items: center;
}

.swim-div p {
  margin-right: 15px;
}

.cycle {
  max-width: 230px;
}

.checked {
  width: 50px;
}

@media screen and (max-width: 980px) {
  .content-container {
    justify-content: center;
  }

  .top-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .disappear {
    display: none;
  }

  .reappear {
    display: flex;
    flex-direction: column;
  }

  .reappear p,
  .reappear h5 {
    margin: 3px 0 0 0;
  }

  .headerappear {
    display: flex;
    background-color: #B4436C;
    justify-content: space-evenly;
    height: 60px;
  }

  .cycle-container {
    width: 80%;
  }

  button {
    width: 150px;
    height: 40px;
    background-color: #1BCEB8;
  }

  label {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  select {
    margin: 1px 0 20px 0;
    width: 80%;
  }

  form {
    align-items: center;
    width: 100%;
  }
}