body {
  margin: 0;
  font-family: 'Istok Web', sans-serif;
}

header {
  background-color: #1BCEB8;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

aside p,
aside h3 {
  display: inline-block;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
}

select {
  background-color: #CCC;
  min-width: 200px;
  text-align: center;
}

label {
  font-weight: 400;
}

.main-sections {
  width: 50%;
}

.week {
  border-bottom: 3px solid #09ADB5;
}

.yesterday {
  border-bottom: 3px solid #B4436C;
}

.content-container {
  display: flex;
}

.shoe {
  width: 40px;
}

.cycle {
  width: 300px;
}

.checked {
  width: 50px;
}